@using doanweb.Models
@model List<tbl_member>
<div class="card-body">
    <div class="text-center">
        @foreach(var item in Model)
        {
            <a class="dropdown-item d-flex align-items-center" href="">
                <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle hinh_tron" src="https://nld.mediacdn.vn/zoom/700_438/2015/anonymous-1447907195159.jpg" alt="">
                    <div class="status-indicator bg-success"></div>
                </div>
                <div class="font-weight-bold">
                    <div class="text-truncate canh_le">@item.TenKhachHang</div>
                    <div class="small text-gray-500">@item.Email</div>
                </div>
            </a>
        }
    </div>
    <a  rel="nofollow" href="@Url.Action("QuanLyNguoiDung", "Admin")">Xem Các Khách Hàng Khác &rarr;</a>
</div>